AIRTABLE_API_TOKEN=patXXXXXXXXXXXXXX
AIRTABLE_BASE_ID=appae42Y9ShLO1G2w
AIRTABLE_CARRIERS_TABLE=tblutq0gYOqFe3B3d
AIRTABLE_LEADS_TABLE=Leads
LEAD_NOTIFY_EMAIL=pfk@rehsearch.de
POSITIONSTACK_API_KEY=<dein_positionstack_key>
